.marge_accueil{
    margin-top:100px;
    width: 300px;
}
.titre_liste{
    margin-bottom: 50px;
    margin-left: 40px;
}
header{
    margin-bottom: 20px;
}
main{
    margin-bottom: 150px;
}
footer{

}